# First Steps with the OANDA API

## Connecting to the API / Server

In [11]:
import pandas as pd
import tpqoa

In [12]:
api = tpqoa.tpqoa("oanda.cfg")

In [13]:
api.get_account_summary()

{'id': '101-001-31033354-001',
 'alias': 'Primary',
 'currency': 'USD',
 'balance': '100000.0',
 'createdByUserID': 31033354,
 'createdTime': '2025-02-09T05:23:41.133550239Z',
 'guaranteedStopLossOrderMode': 'DISABLED',
 'pl': '0.0',
 'resettablePL': '0.0',
 'resettablePLTime': '0',
 'financing': '0.0',
 'commission': '0.0',
 'guaranteedExecutionFees': '0.0',
 'marginRate': '0.02',
 'openTradeCount': 0,
 'openPositionCount': 0,
 'pendingOrderCount': 0,
 'hedgingEnabled': False,
 'unrealizedPL': '0.0',
 'NAV': '100000.0',
 'marginUsed': '0.0',
 'marginAvailable': '100000.0',
 'positionValue': '0.0',
 'marginCloseoutUnrealizedPL': '0.0',
 'marginCloseoutNAV': '100000.0',
 'marginCloseoutMarginUsed': '0.0',
 'marginCloseoutPercent': '0.0',
 'marginCloseoutPositionValue': '0.0',
 'withdrawalLimit': '100000.0',
 'marginCallMarginUsed': '0.0',
 'marginCallPercent': '0.0',
 'lastTransactionID': '3'}

In [ ]:
##歐元/美元 (EUR/USD)
##美元/日元 (USD/JPY)
##英鎊/美元 (GBP/USD)
##澳元/美元 (AUD/USD)
##美元/加元 (USD/CAD)
##美元/人民幣 (USD/CNY)
##美元/瑞郎 (USD/CHF)
##美元/港元 (USD/HKD)
##歐元/英鎊 (EUR/GBP)
##美元/韓元 (USD/KRW)

In [ ]:
##歐元/美元 (EUR_USD)
##美元/日元 (USD_JPY)
##英鎊/美元 (GBP_USD)
##澳元/美元 (AUD_USD)
##美元/加元 (USD_CAD)
##美元/瑞郎 (USD_CHF)
##美元/港元 (USD_HKD)
##歐元/英鎊 (EUR_GBP)

In [142]:
popular_list = ['EUR_USD', 'USD_JPY', 'GBP_USD', 'AUD_USD', 'USD_CAD','USD_CHF', 'USD_HKD', 'EUR_GBP']

In [136]:
api.get_history("EUR_USD", "2018-01-01", "2018-01-05",
                "H6", "M")["c"]

time
2018-01-01 22:00:00    1.20120
2018-01-02 04:00:00    1.20706
2018-01-02 10:00:00    1.20444
2018-01-02 16:00:00    1.20580
2018-01-02 22:00:00    1.20469
2018-01-03 04:00:00    1.20382
2018-01-03 10:00:00    1.20236
2018-01-03 16:00:00    1.20144
2018-01-03 22:00:00    1.20145
2018-01-04 04:00:00    1.20430
2018-01-04 10:00:00    1.20744
2018-01-04 16:00:00    1.20683
2018-01-04 22:00:00    1.20747
Name: c, dtype: float64

In [55]:
api.get_history('USD_CHF', "2018-01-01", "2018-01-05", "H6", "M")["c"]

time
2018-01-01 22:00:00    0.97348
2018-01-02 04:00:00    0.97136
2018-01-02 10:00:00    0.97239
2018-01-02 16:00:00    0.97162
2018-01-02 22:00:00    0.97228
2018-01-03 04:00:00    0.97260
2018-01-03 10:00:00    0.97686
2018-01-03 16:00:00    0.97702
2018-01-03 22:00:00    0.97790
2018-01-04 04:00:00    0.97626
2018-01-04 10:00:00    0.97479
2018-01-04 16:00:00    0.97458
2018-01-04 22:00:00    0.97446
Name: c, dtype: float64

In [61]:
df = []
all_data = []  # 用來儲存每個 pair 的 DataFrame
#"2025-04-30"
for pair in popular_list:
    print(pair)
    df = api.get_history(pair, "2015-01-01", "2015-05-01", "H6", "M")["c"]   
    #df["pair"] = pair  # 新增一欄貨幣對名稱
    #df = df.reset_index()  # 將時間從 index 轉為欄位
    all_data.append(df)


# 合併所有 DataFrame
result_df = pd.concat(all_data)

print(all_data.head())

EUR_USD
USD_JPY
GBP_USD
AUD_USD
USD_CAD
USD_CHF
USD_HKD
EUR_GBP

AttributeError: 'list' object has no attribute 'head'

In [143]:
df = pd.DataFrame()
all_data = []  # 用來儲存每個 pair 的 DataFrame
combined_df = pd.DataFrame()
#"2025-04-30"
for pair in popular_list:
    print(pair)
    df = api.get_history(pair, "2021-01-01", "2025-04-30", "H6", "M")["c"]   
    print(type(df)) 
    df = df.to_frame(name=pair.replace("_", ""))  # 例如 EURUSD
    df.index = pd.to_datetime(df.index)

    if combined_df.empty:
        combined_df = df
    else:
        combined_df = combined_df.join(df, how="outer")

# 最後儲存
combined_df = combined_df.reset_index()
combined_df = combined_df.rename(columns={"index": "time"})
print(combined_df.head())

EUR_USD
<class 'pandas.core.series.Series'>
USD_JPY
<class 'pandas.core.series.Series'>
GBP_USD
<class 'pandas.core.series.Series'>
AUD_USD
<class 'pandas.core.series.Series'>
USD_CAD
<class 'pandas.core.series.Series'>
USD_CHF
<class 'pandas.core.series.Series'>
USD_HKD
<class 'pandas.core.series.Series'>
EUR_GBP
<class 'pandas.core.series.Series'>
                 time   EURUSD   USDJPY   GBPUSD   AUDUSD   USDCAD   USDCHF  \
0 2021-01-03 22:00:00  1.22550  102.948  1.36954  0.77170  1.26989  0.88373
1 2021-01-04 04:00:00  1.22933  102.745  1.36731  0.77328  1.26746  0.87974
2 2021-01-04 10:00:00  1.22718  103.129  1.35780  0.76846  1.27375  0.87964
3 2021-01-04 16:00:00  1.22525  103.126  1.35724  0.76666  1.27754  0.88105
4 2021-01-04 22:00:00  1.22728  103.035  1.35858  0.76994  1.27554  0.88004

    USDHKD   EURGBP
0  7.75295  0.89480
1  7.75220  0.89908
2  7.75377  0.90379
3  7.75358  0.90272
4  7.75276  0.90338

In [144]:
print(combined_df.head())

                 time   EURUSD   USDJPY   GBPUSD   AUDUSD   USDCAD   USDCHF  \
0 2021-01-03 22:00:00  1.22550  102.948  1.36954  0.77170  1.26989  0.88373
1 2021-01-04 04:00:00  1.22933  102.745  1.36731  0.77328  1.26746  0.87974
2 2021-01-04 10:00:00  1.22718  103.129  1.35780  0.76846  1.27375  0.87964
3 2021-01-04 16:00:00  1.22525  103.126  1.35724  0.76666  1.27754  0.88105
4 2021-01-04 22:00:00  1.22728  103.035  1.35858  0.76994  1.27554  0.88004

    USDHKD   EURGBP
0  7.75295  0.89480
1  7.75220  0.89908
2  7.75377  0.90379
3  7.75358  0.90272
4  7.75276  0.90338

In [76]:

# 假設 combined_df 是你的 DataFrame，index 是 datetime
combined_df.index = pd.to_datetime(combined_df.index).tz_localize("UTC")  # 加上時區

# 重設索引為欄位，命名為 "time"
combined_df = combined_df.reset_index().rename(columns={"index": "time"})

# ✅ 確保時間格式為 ISO 格式並保留時區
combined_df["time"] = combined_df["time"].dt.strftime('%Y-%m-%d %H:%M:%S%z')
combined_df["time"] = combined_df["time"].str.replace(r'(\d{2})(\d{2})$', r'\1:\2', regex=True)

In [145]:
combined_df2 = pd.DataFrame()
combined_df2 = combined_df

In [146]:
print(combined_df2.head())

                 time   EURUSD   USDJPY   GBPUSD   AUDUSD   USDCAD   USDCHF  \
0 2021-01-03 22:00:00  1.22550  102.948  1.36954  0.77170  1.26989  0.88373
1 2021-01-04 04:00:00  1.22933  102.745  1.36731  0.77328  1.26746  0.87974
2 2021-01-04 10:00:00  1.22718  103.129  1.35780  0.76846  1.27375  0.87964
3 2021-01-04 16:00:00  1.22525  103.126  1.35724  0.76666  1.27754  0.88105
4 2021-01-04 22:00:00  1.22728  103.035  1.35858  0.76994  1.27554  0.88004

    USDHKD   EURGBP
0  7.75295  0.89480
1  7.75220  0.89908
2  7.75377  0.90379
3  7.75358  0.90272
4  7.75276  0.90338

In [128]:
# ✅ 將時間格式轉為字串 (ISO 格式 + 時區)：'2018-01-01 22:00:00+00:00'
combined_df2["time"] = combined_df2["time"].dt.strftime('%Y-%m-%d %H:%M:%S%z')
combined_df2["time"] = combined_df2["time"].str.replace(r'(\d{2})(\d{2})$', r'\1:\2', regex=True)

# ✅ 儲存為 CSV
combined_df2.to_csv("multi_pair_candles.csv", index=False)

print("✅ 輸出成功！前幾筆資料如下：")
print(combined_df2.head())

AttributeError: Can only use .dt accessor with datetimelike values

In [111]:
desired_format = '%Y-%m-%d %H:%M:%S' # 或者任何您喜歡的其他格式

# 2. 將 'time' 欄位轉換為具有所需格式的字串類型
combined_df2['time'] = combined_df2['time'].dt.strftime(desired_format)
combined_df['time'] = pd.to_datetime(combined_df['time'], format='%Y-%m-%d %H:%M:%S')

# 3. 儲存為 CSV 檔案
combined_df.to_csv('your_output_file.csv', index=False)

AttributeError: Can only use .dt accessor with datetimelike values

In [114]:
combined_df2['time'] = pd.to_datetime(combined_df2['time'])

# 1. 選擇您想要的日期時間格式字串。
desired_format = '%Y/%m/%d %H:%M' # 或者任何您喜歡的其他格式

# 2. 將 'time' 欄位轉換為具有所需格式的字串類型
# 現在可以安全地使用 .dt，因為 'time' 已經是 datetime 類型了
combined_df2['time'] = combined_df2['time'].dt.strftime(desired_format)

# 3. 儲存為 CSV 檔案
combined_df2.to_csv('your_output_file.csv', index=False)

In [131]:
# ✅ 將時間轉為字串格式（避免 Excel 自動轉格式）
combined_df2["time"] = combined_df2["time"] .dt.strftime('%Y-%m-%d %H:%M:%S%z')
combined_df2["time"] = combined_df2["time"] .str.replace(r'(\d{2})(\d{2})$', r'\1:\2', regex=True)

# 儲存 CSV（時間會保持字串格式）
combined_df2["time"] .to_csv("multi_pair_candles.csv", index=False)

AttributeError: Can only use .dt accessor with datetimelike values

In [89]:
# 假設 combined_df 是你的 DataFrame，index 是 datetime
combined_df2.index = pd.to_datetime(combined_df2.index).tz_convert("UTC")  # 加上時區

# 重設索引為欄位，命名為 "time"
combined_df2 = combined_df2.reset_index().rename(columns={"index": "time"})

# ✅ 將時間轉為字串格式（避免 Excel 自動轉格式）
combined_df2["time"] = pd.to_datetime(combined_df2["time"])  # 確保欄位型態正確
combined_df2["time"] = combined_df2["time"].dt.strftime('%Y-%m-%d %H:%M:%S%z')
combined_df2["time"] = combined_df2["time"].str.replace(r'(\d{2})(\d{2})$', r'\1:\2', regex=True)

ValueError: cannot assemble with duplicate keys

In [98]:
combined_df2 = combined_df2.reset_index()
combined_df2.columns = ['time'] + combined_df2.columns[1:].tolist()  # 確保 time 是第一欄

combined_df2["time"] = pd.to_datetime(combined_df2["time"]).dt.tz_localize("UTC")
combined_df2["time"] = combined_df2["time"].dt.strftime('%Y-%m-%d %H:%M:%S%z')
combined_df2["time"] = combined_df2["time"].str.replace(r'(\d{2})(\d{2})$', r'\1:\2', regex=True)

combined_df2.to_csv("final_output.csv", index=False)

ValueError: cannot assemble with duplicate keys

In [99]:
print(combined_df.head())

                 time   EURUSD   USDJPY   GBPUSD   AUDUSD   USDCAD   USDCHF  \
0 2015-01-01 22:00:00  1.20574  120.324  1.55552  0.81310  1.16362  0.99742
1 2015-01-02 04:00:00  1.20581  120.413  1.54798  0.81424  1.16610  0.99700
2 2015-01-02 10:00:00  1.20312  120.194  1.53882  0.81256  1.17135  0.99906
3 2015-01-02 16:00:00  1.20020  120.494  1.53278  0.80894  1.17842  1.00163
4 2015-01-04 22:00:00  1.19442  120.597  1.52890  0.80574  1.18093  1.00622

    USDHKD   EURGBP
0  7.75566  0.77516
1  7.75564  0.77898
2  7.75574  0.78186
3  7.75651  0.78301
4  7.75614  0.78127

In [141]:
combined_df2.to_csv("multi_pair_candles.csv", index=False)

In [147]:
combined_df2.to_csv("multi_pair_candles_2.csv", index=False)

In [ ]:
# 儲存為 CSV 檔
result_df.to_csv("all_pairs_H6.csv", index=False)

In [ ]:
filename = f"{INSTRUMENT}_{GRANULARITY}_{FROM[:10]}_{TO[:10]}.csv"

with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['time', 'open', 'high', 'low', 'close', 'volume'])

    for candle in data['candles']:
        if candle['complete']:  # 只寫入已完成的 K 線資料
            time = candle['time']
            o = candle['mid']['o']
            h = candle['mid']['h']
            l = candle['mid']['l']
            c = candle['mid']['c']
            v = candle['volume']
            writer.writerow([time, o, h, l, c, v])

print(f"已儲存資料為 CSV：{filename}")

In [14]:
api.account_type

'practice'

In [15]:
api.account_id

'101-001-31033354-001'

In [16]:
api.get_instruments()

[('AUD/CAD', 'AUD_CAD'),
 ('AUD/CHF', 'AUD_CHF'),
 ('AUD/HKD', 'AUD_HKD'),
 ('AUD/JPY', 'AUD_JPY'),
 ('AUD/NZD', 'AUD_NZD'),
 ('AUD/SGD', 'AUD_SGD'),
 ('AUD/USD', 'AUD_USD'),
 ('CAD/CHF', 'CAD_CHF'),
 ('CAD/HKD', 'CAD_HKD'),
 ('CAD/JPY', 'CAD_JPY'),
 ('CAD/SGD', 'CAD_SGD'),
 ('CHF/HKD', 'CHF_HKD'),
 ('CHF/JPY', 'CHF_JPY'),
 ('CHF/ZAR', 'CHF_ZAR'),
 ('EUR/AUD', 'EUR_AUD'),
 ('EUR/CAD', 'EUR_CAD'),
 ('EUR/CHF', 'EUR_CHF'),
 ('EUR/CZK', 'EUR_CZK'),
 ('EUR/DKK', 'EUR_DKK'),
 ('EUR/GBP', 'EUR_GBP'),
 ('EUR/HKD', 'EUR_HKD'),
 ('EUR/HUF', 'EUR_HUF'),
 ('EUR/JPY', 'EUR_JPY'),
 ('EUR/NOK', 'EUR_NOK'),
 ('EUR/NZD', 'EUR_NZD'),
 ('EUR/PLN', 'EUR_PLN'),
 ('EUR/SEK', 'EUR_SEK'),
 ('EUR/SGD', 'EUR_SGD'),
 ('EUR/TRY', 'EUR_TRY'),
 ('EUR/USD', 'EUR_USD'),
 ('EUR/ZAR', 'EUR_ZAR'),
 ('GBP/AUD', 'GBP_AUD'),
 ('GBP/CAD', 'GBP_CAD'),
 ('GBP/CHF', 'GBP_CHF'),
 ('GBP/HKD', 'GBP_HKD'),
 ('GBP/JPY', 'GBP_JPY'),
 ('GBP/NZD', 'GBP_NZD'),
 ('GBP/PLN', 'GBP_PLN'),
 ('GBP/SGD', 'GBP_SGD'),
 ('GBP/USD', 'GBP_USD'),
 ('GBP/ZAR', 'GBP_ZAR'),
 ('HKD/JPY', 'HKD_JPY'),
 ('NZD/CAD', 'NZD_CAD'),
 ('NZD/CHF', 'NZD_CHF'),
 ('NZD/HKD', 'NZD_HKD'),
 ('NZD/JPY', 'NZD_JPY'),
 ('NZD/SGD', 'NZD_SGD'),
 ('NZD/USD', 'NZD_USD'),
 ('SGD/CHF', 'SGD_CHF'),
 ('SGD/JPY', 'SGD_JPY'),
 ('TRY/JPY', 'TRY_JPY'),
 ('USD/CAD', 'USD_CAD'),
 ('USD/CHF', 'USD_CHF'),
 ('USD/CNH', 'USD_CNH'),
 ('USD/CZK', 'USD_CZK'),
 ('USD/DKK', 'USD_DKK'),
 ('USD/HKD', 'USD_HKD'),
 ('USD/HUF', 'USD_HUF'),
 ('USD/JPY', 'USD_JPY'),
 ('USD/MXN', 'USD_MXN'),
 ('USD/NOK', 'USD_NOK'),
 ('USD/PLN', 'USD_PLN'),
 ('USD/SEK', 'USD_SEK'),
 ('USD/SGD', 'USD_SGD'),
 ('USD/THB', 'USD_THB'),
 ('USD/TRY', 'USD_TRY'),
 ('USD/ZAR', 'USD_ZAR'),
 ('ZAR/JPY', 'ZAR_JPY')]

In [17]:
instr = api.get_instruments()

In [18]:
len(instr)

68

In [19]:
instr[0]

('AUD/CAD', 'AUD_CAD')

## Getting Historical Data (Part 1)

In [15]:
import pandas as pd
import tpqoa
import warnings
warnings.filterwarnings('ignore')

In [16]:
api = tpqoa.tpqoa("oanda.cfg")

In [20]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [27]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-31",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07422  1.07758  1.07189  1.07393   69224      True
2024-07-01 21:00:00  1.07364  1.07465  1.07092  1.07447   60155      True
2024-07-02 21:00:00  1.07437  1.08161  1.07356  1.07863   57743      True
2024-07-03 21:00:00  1.07841  1.08132  1.07815  1.08102   36202      True
2024-07-04 21:00:00  1.08105  1.08419  1.07984  1.08371   65324      True
2024-07-07 21:00:00  1.08038  1.08443  1.08010  1.08235   61744      True
2024-07-08 21:00:00  1.08239  1.08326  1.08047  1.08130   59774      True
2024-07-09 21:00:00  1.08118  1.08300  1.08102  1.08294   53829      True
2024-07-10 21:00:00  1.08280  1.08993  1.08256  1.08671   95972      True
2024-07-11 21:00:00  1.08651  1.09106  1.08609  1.09055   91617      True
2024-07-14 21:00:00  1.08836  1.09217  1.08825  1.08941   84426      True
2024-07-15 21:00:00  1.08906  1.09049  1.08708  1.08977   80616      True
2024-07-16 21:00:00  1.08976  1.09474  1.08943  1.09388   93470      True
2024-07-17 21:00:00  1.09385  1.09403  1.08928  1.08955   91247      True
2024-07-18 21:00:00  1.08965  1.09011  1.08750  1.08780   85335      True
2024-07-21 21:00:00  1.08820  1.09023  1.08723  1.08900   80609      True
2024-07-22 21:00:00  1.08873  1.08960  1.08431  1.08528   74317      True
2024-07-23 21:00:00  1.08529  1.08658  1.08248  1.08391   90188      True
2024-07-24 21:00:00  1.08393  1.08693  1.08276  1.08444  109531      True
2024-07-25 21:00:00  1.08449  1.08675  1.08414  1.08548   80400      True
2024-07-28 21:00:00  1.08568  1.08693  1.08021  1.08205   79601      True
2024-07-29 21:00:00  1.08191  1.08351  1.07974  1.08143   84034      True
2024-07-30 21:00:00  1.08134  1.08488  1.08011  1.08257  116762      True

In [ ]:
df = api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-31",
                granularity = "D", price = "B")

In [25]:
api.get_history("EUR_USD", "2018-01-01", "2018-01-05",
                "H6", "M")

                           o        h        l        c  volume  complete
time
2018-01-01 22:00:00  1.20071  1.20236  1.20019  1.20120    6716      True
2018-01-02 04:00:00  1.20126  1.20706  1.20116  1.20706    7418      True
2018-01-02 10:00:00  1.20703  1.20812  1.20266  1.20444   13518      True
2018-01-02 16:00:00  1.20443  1.20656  1.20410  1.20580    7978      True
2018-01-02 22:00:00  1.20590  1.20666  1.20418  1.20469    3747      True
2018-01-03 04:00:00  1.20474  1.20606  1.20312  1.20382    6715      True
2018-01-03 10:00:00  1.20378  1.20404  1.20034  1.20236   12308      True
2018-01-03 16:00:00  1.20231  1.20326  1.20010  1.20144    8584      True
2018-01-03 22:00:00  1.20144  1.20192  1.20042  1.20145    4910      True
2018-01-04 04:00:00  1.20149  1.20462  1.20144  1.20430    7244      True
2018-01-04 10:00:00  1.20430  1.20890  1.20415  1.20744   15194      True
2018-01-04 16:00:00  1.20749  1.20801  1.20611  1.20683    7839      True
2018-01-04 22:00:00  1.20664  1.20797  1.20635  1.20747    4405      True

In [24]:
api.get_history("EUR_USD", "2018-01-01", "2018-01-05",
                "H6", "M")["c"]

time
2018-01-01 22:00:00    1.20120
2018-01-02 04:00:00    1.20706
2018-01-02 10:00:00    1.20444
2018-01-02 16:00:00    1.20580
2018-01-02 22:00:00    1.20469
2018-01-03 04:00:00    1.20382
2018-01-03 10:00:00    1.20236
2018-01-03 16:00:00    1.20144
2018-01-03 22:00:00    1.20145
2018-01-04 04:00:00    1.20430
2018-01-04 10:00:00    1.20744
2018-01-04 16:00:00    1.20683
2018-01-04 22:00:00    1.20747
Name: c, dtype: float64

In [23]:
api.get_history("GBP_USD", "2018-01-01", "2018-01-05",
                "H6", "M")

                           o        h        l        c  volume  complete
time
2018-01-01 22:00:00  1.35021  1.35238  1.35021  1.35170   19796      True
2018-01-02 04:00:00  1.35170  1.35672  1.35123  1.35483   17060      True
2018-01-02 10:00:00  1.35484  1.35857  1.35398  1.35786   20939      True
2018-01-02 16:00:00  1.35780  1.36006  1.35737  1.35918   13579      True
2018-01-02 22:00:00  1.35870  1.36056  1.35857  1.35953   13199      True
2018-01-03 04:00:00  1.35953  1.36134  1.35828  1.35860   14954      True
2018-01-03 10:00:00  1.35860  1.35930  1.34940  1.35148   19087      True
2018-01-03 16:00:00  1.35148  1.35280  1.35030  1.35179   13752      True
2018-01-03 22:00:00  1.35127  1.35207  1.35056  1.35179   11519      True
2018-01-04 04:00:00  1.35178  1.35502  1.35138  1.35446   14905      True
2018-01-04 10:00:00  1.35454  1.35602  1.35311  1.35523   17144      True
2018-01-04 16:00:00  1.35522  1.35567  1.35362  1.35532   11437      True
2018-01-04 22:00:00  1.35490  1.35680  1.35456  1.35660    8632      True

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2018-01-01 22:00:00 to 2018-01-04 22:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   o         4 non-null      float64
 1   h         4 non-null      float64
 2   l         4 non-null      float64
 3   c         4 non-null      float64
 4   volume    4 non-null      int64
 5   complete  4 non-null      bool
dtypes: bool(1), float64(4), int64(1)
memory usage: 196.0 bytes

In [23]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-01",
                granularity = "D", price = "A")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07459  1.07773  1.07203  1.07409   69224      True

In [19]:
api.get_history(instrument = "EUR_USD", start = "2024-07-01", end = "2024-07-01",
                granularity = "D", price = "B")

                           o        h        l        c  volume  complete
time
2024-06-30 21:00:00  1.07422  1.07758  1.07189  1.07393   69224      True

## Getting Historical Data (Part 2)

In [20]:
api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "H1", "A")

                           o        h        l        c  volume  complete
time
2024-09-03 00:00:00  1.10680  1.10696  1.10598  1.10615    3312      True
2024-09-03 01:00:00  1.10615  1.10691  1.10608  1.10677    3009      True
2024-09-03 02:00:00  1.10678  1.10712  1.10638  1.10645    1888      True
2024-09-03 03:00:00  1.10644  1.10644  1.10582  1.10589    2455      True
2024-09-03 04:00:00  1.10589  1.10595  1.10547  1.10550    2504      True
2024-09-03 05:00:00  1.10549  1.10606  1.10548  1.10604    2543      True
2024-09-03 06:00:00  1.10602  1.10624  1.10519  1.10624    4360      True
2024-09-03 07:00:00  1.10623  1.10686  1.10564  1.10568    6750      True
2024-09-03 08:00:00  1.10565  1.10605  1.10489  1.10493    5914      True
2024-09-03 09:00:00  1.10494  1.10515  1.10350  1.10410    6195      True
2024-09-03 10:00:00  1.10409  1.10427  1.10340  1.10365    5214      True
2024-09-03 11:00:00  1.10362  1.10438  1.10347  1.10371    4501      True
2024-09-03 12:00:00  1.10371  1.10533  1.10344  1.10487    5448      True
2024-09-03 13:00:00  1.10490  1.10642  1.10489  1.10621    8285      True
2024-09-03 14:00:00  1.10631  1.10705  1.10379  1.10430   13747      True
2024-09-03 15:00:00  1.10429  1.10454  1.10368  1.10431    6657      True
2024-09-03 16:00:00  1.10431  1.10480  1.10389  1.10400    4427      True
2024-09-03 17:00:00  1.10401  1.10409  1.10272  1.10288    3909      True
2024-09-03 18:00:00  1.10288  1.10400  1.10273  1.10388    3456      True
2024-09-03 19:00:00  1.10387  1.10430  1.10381  1.10425    3816      True
2024-09-03 20:00:00  1.10427  1.10453  1.10405  1.10440    1448      True
2024-09-03 21:00:00  1.10452  1.10479  1.10410  1.10474    1116      True
2024-09-03 22:00:00  1.10478  1.10478  1.10407  1.10466    1027      True
2024-09-03 23:00:00  1.10466  1.10514  1.10458  1.10493    1862      True
2024-09-04 00:00:00  1.10489  1.10523  1.10473  1.10491    4896      True
2024-09-04 01:00:00  1.10490  1.10572  1.10484  1.10539    3479      True
2024-09-04 02:00:00  1.10541  1.10572  1.10503  1.10533    3376      True
2024-09-04 03:00:00  1.10534  1.10562  1.10511  1.10548    2081      True
2024-09-04 04:00:00  1.10547  1.10580  1.10543  1.10572    1636      True
2024-09-04 05:00:00  1.10572  1.10607  1.10554  1.10586    2969      True
2024-09-04 06:00:00  1.10586  1.10588  1.10482  1.10541    5120      True
2024-09-04 07:00:00  1.10544  1.10637  1.10476  1.10568    6672      True
2024-09-04 08:00:00  1.10566  1.10597  1.10504  1.10526    6029      True
2024-09-04 09:00:00  1.10527  1.10595  1.10510  1.10540    3833      True
2024-09-04 10:00:00  1.10541  1.10567  1.10508  1.10539    3582      True
2024-09-04 11:00:00  1.10539  1.10548  1.10435  1.10512    4379      True
2024-09-04 12:00:00  1.10511  1.10534  1.10408  1.10532    5382      True
2024-09-04 13:00:00  1.10532  1.10600  1.10507  1.10589    5846      True
2024-09-04 14:00:00  1.10587  1.10959  1.10583  1.10905   12377      True
2024-09-04 15:00:00  1.10904  1.10925  1.10772  1.10816    6170      True
2024-09-04 16:00:00  1.10816  1.10876  1.10767  1.10852    4822      True
2024-09-04 17:00:00  1.10849  1.10870  1.10666  1.10670    4218      True
2024-09-04 18:00:00  1.10669  1.10777  1.10661  1.10768    4182      True
2024-09-04 19:00:00  1.10769  1.10835  1.10757  1.10790    3331      True
2024-09-04 20:00:00  1.10791  1.10846  1.10764  1.10840    1862      True
2024-09-04 21:00:00  1.10854  1.10854  1.10835  1.10843     473      True
2024-09-04 22:00:00  1.10843  1.10873  1.10835  1.10857     716      True
2024-09-04 23:00:00  1.10859  1.10862  1.10798  1.10810    2071      True

In [ ]:
api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "H12", "A")

In [ ]:
api.get_history("EUR_USD", "2024-09-03", "2024-09-05", "M1", "A")

In [ ]:
api.get_history("EUR_USD", "2024-09-03", "2024-09-04", "S5", "A") # drops a Future Warning -> can be ignored for now

In [ ]:
api.get_instruments()

In [21]:
api.get_history("SPX500_USD", "2024-09-03", "2024-09-04", "H1", "A")

                          o       h       l       c  volume  complete
time
2024-09-03 00:00:00  5641.7  5645.2  5639.4  5643.2     816      True
2024-09-03 01:00:00  5643.7  5647.9  5643.4  5646.2     437      True
2024-09-03 02:00:00  5646.4  5646.7  5637.4  5638.4     459      True
2024-09-03 03:00:00  5638.2  5640.2  5631.9  5640.2     741      True
2024-09-03 04:00:00  5639.9  5640.2  5637.4  5638.4     324      True
2024-09-03 05:00:00  5638.7  5642.2  5638.7  5642.2     519      True
2024-09-03 06:00:00  5642.4  5643.7  5633.9  5642.7    1004      True
2024-09-03 07:00:00  5642.4  5653.2  5642.4  5649.2    1387      True
2024-09-03 08:00:00  5649.7  5651.7  5626.4  5626.4    2099      True
2024-09-03 09:00:00  5626.9  5629.7  5615.2  5616.9    2242      True
2024-09-03 10:00:00  5617.2  5623.2  5613.4  5621.4    1657      True
2024-09-03 11:00:00  5621.2  5623.2  5614.4  5619.4    1461      True
2024-09-03 12:00:00  5619.7  5623.7  5614.9  5615.2    1500      True
2024-09-03 13:00:00  5615.7  5619.9  5590.1  5600.1    7698      True
2024-09-03 14:00:00  5597.4  5597.6  5559.6  5562.4   11043      True
2024-09-03 15:00:00  5562.4  5578.6  5560.4  5564.9    5388      True
2024-09-03 16:00:00  5564.6  5573.6  5556.1  5557.6    3400      True
2024-09-03 17:00:00  5557.6  5571.0  5554.7  5555.7    3067      True
2024-09-03 18:00:00  5556.0  5556.0  5537.2  5538.7    4070      True
2024-09-03 19:00:00  5539.0  5543.7  5507.7  5533.7    5846      True
2024-09-03 20:00:00  5534.0  5537.8  5522.8  5528.0    1639      True
2024-09-03 22:00:00  5529.8  5530.8  5520.1  5524.8    1341      True
2024-09-03 23:00:00  5524.8  5527.3  5518.1  5523.1    1055      True

## Streaming high-frequency real-time Data

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [22]:
api.stream_data('EUR_USD', stop = 10)

2025-05-30T20:59:05.207542124Z 1.13465 1.13492

KeyboardInterrupt:

In [ ]:
#api.stop_stream()

## Creating Orders and Executing Trades

In [ ]:
import pandas as pd
import tpqoa

In [ ]:
api = tpqoa.tpqoa("oanda.cfg")

In [ ]:
api.create_order(instrument = "EUR_USD", units = 100000, sl_distance= 0.1)

In [ ]:
api.create_order(instrument = "EUR_USD", units = -100000, sl_distance= 0.1)

In [ ]:
api.get_account_summary()

In [ ]:
api.get_transactions(tid = 1) # insert the id of the first trade in this session

In [ ]:
api.print_transactions(tid = 1) # insert the id of the first trade in this session